In [1]:
import pandas as pd

In [2]:
input_csv = pd.read_csv('lifewatch-with-status_edit.csv')

In [3]:
input_csv.head(5)

   temp_firefighting_suit  heart_rate  external_temperature  external_humidity
0                      57         156                   863                 86
1                      52          97                   604                 75
2                      61         117                   325                 77
3                      39         141                   855                 71
4                      32          63                   700                 84

In [4]:

    
filter = ((input_csv['temp_firefighting_suit'] > 70 )| (input_csv["heart_rate"]>166)| (input_csv["external_temperature"]>600 )| (input_csv["external_humidity"]>85))
input_csv.loc[filter, 'status'] = 3

filter = ((input_csv['temp_firefighting_suit'] < 60 )& (input_csv["heart_rate"]<128 )& (input_csv["external_temperature"]<500) & (input_csv["external_humidity"]<85))
input_csv.loc[filter, 'status'] = 1

input_csv['status'] = input_csv['status'].fillna(2)

In [5]:
input_csv.head(5)

,temp_firefighting_suit,heart_rate,external_temperature,external_humidity,status
0,57,156,863,86,3.0
1,52,97,604,75,3.0
2,61,117,325,77,2.0
3,39,141,855,71,3.0
4,32,63,700,84,3.0

In [6]:
input_csv.astype(int)
input_csv.to_csv("submit.csv", index=False)